h1 {
  color:green;
}

h2{
  color:green;
}

h4{
  color:green;
}

body {
  background-color:pink;
}

.img-responsive {
  width:30%;
  height:auto;
}

.myprojects {
  margin: 20px;
  border: solid green 8px;
  padding: 12px;
  background-color: #98ff98;
}

.aboutme {
  margin: 20px;
  border: solid green 8px;
  padding: 12px;
  background-color: #98ff98;
}

.allkinds {
  font-style: italic;
}
