h1 {
  color:green;
}

h2{
  color:green;
}

h4{
  color:green;
}

body {
  background-color:pink;
}

.img-responsive {
  width:20%; height:auto;
}

.myprojects {
  margin: 2px;
  border: solid green 8px;
  padding: 12px;
}

.aboutme {
  margin: 2px;
  border: solid green 8px;
  padding: 12px;
}
